* {
    font-family: Geomanist, Helvetica, sans-serif;
}

/* for style every a\Link */
a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* basically container for Left & Rigth padding */
header section,
main,
footer section {
    padding: 0 17%;
}


/* adjusting icon */
i {
    transform: translateY(-5px);
}


/* header Starts here */
header {
    border-bottom: 1px solid lightgrey;
}

.header-one {
    background-color: #ebf1ff;
    height: 64px;
}


/* OLX Logo */
#olx-white-bg {
    top: -12px;
    left: -18px;
    background: white;
    padding: 28px 40px 30px 38px;
    border-radius: 25% 25% 0 0;
}

.header-one img {
    width: 42px;
}

#property-logo {
    width: 36px;
}

.header-one-sell-button img {
    width: 90px;
}

.header-one p {
    top: 7px;
    left: 23px;
}

.header-one-sell-button p {
    top: 9px;
    left: 32px;
}

.section-top,
.section-top a {
    margin-right: 1ch;
}



/* hero2 Starts from here */
.hero2 div {
    width: 120px;
    height: 116px;
    text-align: center;
}

.hero2 img {
    width: 88px;
    height: 88px;
}



/* Footer Starts from here */
footer section div span {
    color: #3a77ff;
}

footer section .half-mobile-image img {
    width: 50%;
}


/* Footer Section #1 Starts from here */
.f-s1 {
    background-color: rgba(0, 47, 52, .03);
}

.f-s1-store-logo {
    height: 2.5rem;
}


/* Footer Section #2 Starts from here */
.f-s2 {
    background-color: #f2f4f5;
    border-top: 1px solid #d8dfe0;
    padding-bottom: 3%;
    padding-left: 16%;
}

.f-s2 div {
    flex: 1;
    line-height: 2rem;
}

.f-s2 h3 {
    font-size: 15px;
    font-weight: bold;
    padding: 25% 0 4% 0;
}

.f-s2-div5 img:hover {
    opacity: 60%;
}


/* Footer Section #3 Starts from here */
.f-s3 {
    background-color: #002f34;
    color: white;
    padding: 1% 16%;
}



/* back to top button */
.navigate2top-btn {
    background-color: white;
    bottom: 6rem;
    right: 3rem;
    border: 1.2px solid;
    border-radius: 24px;
    padding: 0.4rem 1.5rem;
}

.navigate2top-btn:hover {
    border: 3px solid;
    bottom: 5.9rem;
    right: 2.9rem;
}

.navigate2top-btn:active {
    color: white;
    background-color: black;
}




/* Adjustment for small screen */
@media (max-width: 720px) {

    /* basically container for Left & Rigth padding */
    header section,
    main,
    footer section {
        width: 100%;
        padding: 0;
    }

    /* header Starts from here */
    .header-one nav {
        transform: scale(0.72) translateX(-16px);
    }


    /* OLX Logo */
    #olx-white-bg {
        top: 0px;
        padding: 28px 40px 42px 38px;
    }


    /* footer Starts from here */
    .f-s2 {
        padding: 0.5rem;
    }



    /* back to top button */
    .navigate2top-btn {
        bottom: 4rem;
        right: 2rem;
    }

    .navigate2top-btn:hover {
        bottom: 3.9rem;
        right: 1.9rem;
    }
}